.app {
  text-align: center;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 25%;
}
.navbar {
  background-color: green;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  font-size: larger;
}
.movies {
  width: 75%;
  margin: 20px auto;
  border: 5px dashed green;
}
.locations > ul{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  list-style-type: none;
  width: 90%;
  margin: 10px auto;
  padding: 0px;
}
.locations >ul >li {
  border: 2px dashed green;
  margin: 5px;
}